<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMI_PCBase.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HMI_PCBase.My.MySettings>
            <setting name="stopTime" serializeAs="String">
                <value />
            </setting>
            <setting name="QAStoppage" serializeAs="String">
                <value />
            </setting>
            <setting name="QACountermeasure" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPath" serializeAs="String">
                <value>Data Source=192.168.68.113,49172;Initial Catalog=SPS;Persist Security Info=True;User ID=sa;Password=admin01</value>
            </setting>
            <setting name="MachineNo" serializeAs="String">
                <value>Machine 1</value>
            </setting>
            <setting name="TAMSetShots" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>169.254.204.70</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="TAMCounter" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCode" serializeAs="String">
                <value />
            </setting>
        </HMI_PCBase.My.MySettings>
    </userSettings>
</configuration>